# Class exercise 1:

![](https://miro.medium.com/max/1266/1*Pb8oEA1nGIONsSJk7QSVzg.png)

In [3]:
number_1 = input("Enter first number:")
number_2 = input("Enter second number")
value = int(number_1) * int(number_2)
print("The value of the two numbers multiplied is: " + str(value))

Enter first number:3
Enter second number4
The value of the two numbers multiplied is: 12

# Class exercise 02

In [10]:
odd_list = [i for i in range(20) if i%2 == 1]
print("odd list", odd_list)

even_list = [i for i in range(2,2000001) if i%2 == 0]
print("min value in even list :" , min(even_list))
print("max value in even list :" , max(even_list))
print("sum of all values in even list" , sum(even_list))

multi_3_list = [i for i in range(3,301) if i%3 == 0]
print("multiples of 3 from 3 to 300 :" , multi_3_list)

cubes_list = [i**3 for i in range(1,11)]
print("list of ten first cubes :" , cubes_list)

odd list [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
min value in even list : 2
max value in even list : 2000000
sum of all values in even list 1000001000000
multiples of 3 from 3 to 300 : [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]
list of ten first cubes : [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [11]:
import timeit

cmd = '"-".join(str(n) for n in range(100))'
print(timeit.timeit(cmd, number=10))

0.000183999999990192

# Class ecersise 03

In [18]:
month_dict = {'JAN' : 1, "FEB" : 2, "MAR" : 3, "APR" : 4, "MAY" : 5, "JUN" : 6, "JUL" : 7, "AUG" : 8, "SEP" : 9, "OCT" : 10, "NOV" : 11, "DEC" : 12}

def date_reformat(date):
    split_date = date.split("-")
    month = split_date[1]
    month_number = month_dict[month]
    split_date[1] = month_number
    return "-".join([str(elem) for elem in split_date])
    

print(date_reformat("8-MAR-85"))

8-3-85