In [2]:
#Use the ex1 table on the mysql_notebooks server
#Select only those customers with less than $3000 on the account

import mysql.connector as mysql

db = mysql.connect(
    # connect to the mysql server running in container with service name: db. CAUTION data here are not persisted past container lifespan
    host = "db",
    user = "root",
    passwd = "root",
    db = "db"
    #,charset='latin1'
    #,collation='latin1_danish_ci'
)


cur = db.cursor()
query = 'select * from ex1 where account < 3000'
cur.execute(query)
print('TABLE COLUMNS: ',cur.column_names,'\n')

myresult = cur.fetchall()

for x in myresult:
    print(x)

TABLE COLUMNS:  ('id', 'customer_name', 'customer_address', 'account', 'joined')

(1, 'Freddy M', 'Hallway 22, 34322 moral county', 1000.0, datetime.datetime(2002, 2, 3, 23, 0))
(2, 'Janice F', 'Hallway 24, 34322 moral county', 2000.0, datetime.datetime(2001, 2, 4, 23, 0))
(4, 'Freddy MÃ¥lÃ¸v', 'Hallway 22, 34322 moral county', 1000.0, datetime.datetime(2002, 2, 3, 23, 0))

In [7]:
#Create a function that can take a dict and a table name and persist all
#values of the dict into the table columns corresponding to the dict keys.

def update_db(content, table):
    cnx = mysql.connect(host = "db", user = "root", passwd = "root", db = "db")
    cursor = cnx.cursor(prepared=True)
    
    cursor.execute('DROP TABLE IF EXISTS '+table)
    
    sql ='''CREATE TABLE test(
       kol1 INT,
       kol2 INT,
       kol3 INT
    )'''
    cursor.execute(sql)
    
    data_keys = content.keys()
    data_values = content.values()
    
    keys_string = ','.join(data_keys)
    values_string = ','.join(data_values)
    
    add_data = 'INSERT INTO '+table+' ('+keys_string+') VALUES ('+values_string+')'

    cursor.execute(add_data)
    cnx.commit()
    
    cursor.close()
    cnx.close()
    
content = {'kol1':'1', 'kol2':'2', 'kol3':'3'}
update_db(content, 'test')

kol1,kol2,kol3
1,2,3
INSERT INTO test (kol1,kol2,kol3) VALUES (1,2,3)