# Exercise 01

# A

In [1]:
names = ["Helle","Hans","Hanne","Hugo", "Kurt", "Bjarne"]
names_with_h = [name for name in names if "H" in name]
print(names_with_h)

['Helle', 'Hans', 'Hanne', 'Hugo']

# B

In [2]:
cubed_numbers = [i**3 for i in range(1,101)]
print("Cubed numbers: ", cubed_numbers)

cubed numbers:  [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

# C

In [3]:
names = ["Helle","Hans","Hanne","Hugo", "Kurt", "Bjarne"]
name_tuble_list = [(len(name), name) for name in names]
print(name_tuble_list)

[(5, 'Helle'), (4, 'Hans'), (5, 'Hanne'), (4, 'Hugo'), (4, 'Kurt'), (6, 'Bjarne')]

# D

In [4]:
str1 = "nvfj32426lk123j"
numbers = [c for c in str1 if c.isdigit()]
print(numbers)

['3', '2', '4', '2', '6', '1', '2', '3']

# E

In [8]:
dice_combinations = set([i+j for i in range(1,7) 
                        for j in range(1,7)])
print(dice_combinations)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

# Exercise 02

# A

In [11]:
names = ["Helle","Hans","Hanne","Hugo", "Kurt", "Bjarne"]
name_dict = {}
for name in names:
    name_dict[name] = len(name) 
print(name_dict)

{'Helle': 5, 'Hans': 4, 'Hanne': 5, 'Hugo': 4, 'Kurt': 4, 'Bjarne': 6}

# B

In [15]:
import math
numbers = [2,4,6,23,7,9]
number_dict = {}
for n in numbers:
    number_dict[n] = math.sqrt(n)
print(number_dict)

{2: 1.4142135623730951, 4: 2.0, 6: 2.449489742783178, 23: 4.795831523312719, 7: 2.6457513110645907, 9: 3.0}

# Exercise 03

In [21]:
from collections import Counter
dice_combinations = [i+j for i in range(1,7) 
                        for j in range(1,7)]
dice_roll_dict = {}

counter_dict = dict(Counter(dice_combinations))

for key, value in counter_dict.items():
    dice_roll_dict[key] = value / len(dice_combinations)*100

print(dice_roll_dict)

{2: 2.7777777777777777, 3: 5.555555555555555, 4: 8.333333333333332, 5: 11.11111111111111, 6: 13.88888888888889, 7: 16.666666666666664, 8: 13.88888888888889, 9: 11.11111111111111, 10: 8.333333333333332, 11: 5.555555555555555, 12: 2.7777777777777777}